In [15]:
import pandas as pd
crime_df = pd.read_csv(r"C:\Users\nrdee\Documents\Data\Data Science Masters\Data 780\Final-Project-DATA780\Crimes_and_Clearances_with_Arson-1985-2023.csv")
crime_df.head()

C:\Users\nrdee\AppData\Local\Temp\ipykernel_24700\1513475631.py:2: DtypeWarning: Columns (21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  crime_df = pd.read_csv(r"C:\Users\nrdee\Documents\Data\Data Science Masters\Data 780\Final-Project-DATA780\Crimes_and_Clearances_with_Arson-1985-2023.csv")

,Year,County,NCICCode,Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,...,MVPLARnao_sum,BILARnao_sum,FBLARnao_sum,COMLARnao_sum,AOLARnao_sum,LT400nao_sum,LT200400nao_sum,LT200nao_sum,LT50200nao_sum,LT50nao_sum
0,1985,Alameda County,Alameda Co. Sheriff's Department,427,3,27,166,231,3964,1483,...,109,205,44,11,475,753.0,437.0,NaN,440,498
1,1985,Alameda County,Alameda,405,7,15,220,163,4486,989,...,673,516,183,53,559,540.0,622.0,NaN,916,1159
2,1985,Alameda County,Albany,101,1,4,58,38,634,161,...,62,39,46,17,37,84.0,68.0,NaN,128,138
3,1985,Alameda County,Berkeley,1164,11,43,660,450,12035,2930,...,508,611,1877,18,496,533.0,636.0,NaN,2793,4274
4,1985,Alameda County,Emeryville,146,0,5,82,59,971,205,...,153,16,85,24,169,217.0,122.0,NaN,161,164

##### Read me & dataset documentaion
https://data-openjustice.doj.ca.gov/sites/default/files/dataset/2024-07/crimes-clear-arson-context-06062024.pdf

In [20]:
crime_df.columns

Index(['Year', 'County', 'NCICCode', 'Violent_sum', 'Homicide_sum',
       'ForRape_sum', 'Robbery_sum', 'AggAssault_sum', 'Property_sum',
       'Burglary_sum', 'VehicleTheft_sum', 'LTtotal_sum', 'ViolentClr_sum',
       'HomicideClr_sum', 'ForRapeClr_sum', 'RobberyClr_sum',
       'AggAssaultClr_sum', 'PropertyClr_sum', 'BurglaryClr_sum',
       'VehicleTheftClr_sum', 'LTtotalClr_sum', 'TotalStructural_sum',
       'TotalMobile_sum', 'TotalOther_sum', 'GrandTotal_sum',
       'GrandTotClr_sum', 'RAPact_sum', 'ARAPact_sum', 'FROBact_sum',
       'KROBact_sum', 'OROBact_sum', 'SROBact_sum', 'HROBnao_sum',
       'CHROBnao_sum', 'GROBnao_sum', 'CROBnao_sum', 'RROBnao_sum',
       'BROBnao_sum', 'MROBnao_sum', 'FASSact_sum', 'KASSact_sum',
       'OASSact_sum', 'HASSact_sum', 'FEBURact_Sum', 'UBURact_sum',
       'RESDBUR_sum', 'RNBURnao_sum', 'RDBURnao_sum', 'RUBURnao_sum',
       'NRESBUR_sum', 'NNBURnao_sum', 'NDBURnao_sum', 'NUBURnao_sum',
       'MVTact_sum', 'TMVTact_sum', 'OMVTact_sum', 'PPLARnao_sum',
       'PSLARnao_sum', 'SLLARnao_sum', 'MVLARnao_sum', 'MVPLARnao_sum',
       'BILARnao_sum', 'FBLARnao_sum', 'COMLARnao_sum', 'AOLARnao_sum',
       'LT400nao_sum', 'LT200400nao_sum', 'LT200nao_sum', 'LT50200nao_sum',
       'LT50nao_sum'],
      dtype='object')

In [22]:
crime_df.dtypes

Year                 int64
County              object
NCICCode            object
Violent_sum          int64
Homicide_sum         int64
                    ...
LT400nao_sum       float64
LT200400nao_sum    float64
LT200nao_sum       float64
LT50200nao_sum       int64
LT50nao_sum          int64
Length: 70, dtype: object

In [29]:
crime_df2 = crime_df[['Year', 'County', 'NCICCode', 'Violent_sum', 'Homicide_sum',
       'ForRape_sum', 'Robbery_sum', 'AggAssault_sum', 'Property_sum',
       'Burglary_sum', 'VehicleTheft_sum', 'LTtotal_sum', 'ViolentClr_sum',
       'HomicideClr_sum', 'ForRapeClr_sum', 'RobberyClr_sum',
       'AggAssaultClr_sum', 'PropertyClr_sum', 'BurglaryClr_sum',
       'VehicleTheftClr_sum', 'LTtotalClr_sum', 'TotalStructural_sum',
       'TotalMobile_sum', 'TotalOther_sum', 'GrandTotal_sum',
       'GrandTotClr_sum']]

crime_df2 = crime_df2[crime_df2['Year'] == 2022].reset_index(drop=True)
crime_df2.head()

,Year,County,NCICCode,Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,...,AggAssaultClr_sum,PropertyClr_sum,BurglaryClr_sum,VehicleTheftClr_sum,LTtotalClr_sum,TotalStructural_sum,TotalMobile_sum,TotalOther_sum,GrandTotal_sum,GrandTotClr_sum
0,2022,San Bernardino County,Adelanto,344,0,11,37,296,359,71,...,150,27,6,6,15,6,7,4,17,6
1,2022,Los Angeles County,Agoura Hills,32,0,5,4,23,255,69,...,10,21,7,6,8,0,1,0,1,0
2,2022,Alameda County,Alameda,231,1,16,100,114,3203,297,...,56,168,19,23,126,3,0,16,19,11
3,2022,Alameda County,Alameda BART,189,0,3,123,63,773,10,...,38,41,3,6,32,0,1,0,1,0
4,2022,Alameda County,Alameda Co. Sheriff's Department,766,4,36,182,544,2577,412,...,229,138,19,41,78,9,9,5,23,7

In [34]:
present_counties = crime_df2['County'].unique()
present_counties

array(['San Bernardino County', 'Los Angeles County', 'Alameda County',
       'Orange County', 'Santa Barbara County', 'Alpine County',
       'Modoc County', 'Amador County', 'Napa County', 'Shasta County',
       'Ventura County', 'Calaveras County', 'Contra Costa County',
       'Humboldt County', 'San Luis Obispo County', 'Kern County',
       'San Mateo County', 'Merced County', 'Placer County',
       'Kings County', 'Riverside County', 'Sonoma County',
       'Marin County', 'Solano County', 'Inyo County', 'Imperial County',
       'Butte County', 'Colusa County', 'Del Norte County',
       'El Dorado County', 'Fresno County', 'Glenn County', 'Lake County',
       'Lassen County', 'Madera County', 'Mariposa County',
       'Mendocino County', 'Mono County', 'Monterey County',
       'Nevada County', 'Plumas County', 'Sacramento County',
       'San Diego County', 'San Francisco County', 'San Joaquin County',
       'Santa Clara County', 'Santa Cruz County', 'Siskiyou County',
       'Stanislaus County', 'Sutter County', 'Tehama County',
       'Trinity County', 'Tulare County', 'Tuolumne County',
       'Yolo County', 'San Benito County', 'Yuba County', 'Sierra County'],
      dtype=object)

In [37]:
#CALI COUNTIES SF,LA,SD
counties_filter = ['Alameda County','San Francisco County','Santa Clara County','San Mateo County','Los Angeles County','San Diego County']
crime_df3 = crime_df2[crime_df2['County'].isin(counties_filter)]
crime_df3 = crime_df3.groupby(['Year', 'County'], as_index=False).sum(numeric_only=True)
crime_df3

,Year,County,Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,VehicleTheft_sum,LTtotal_sum,ViolentClr_sum,HomicideClr_sum,ForRapeClr_sum,RobberyClr_sum,AggAssaultClr_sum,PropertyClr_sum,BurglaryClr_sum,VehicleTheftClr_sum,LTtotalClr_sum
0,2022,Alameda County,11125,158,691,4528,5748,69271,7910,16672,44689,2041,60,114,486,1381,2658,439,381,1838
1,2022,Los Angeles County,61016,739,3869,17438,38970,244083,39799,57872,146412,26613,426,1771,4964,19452,17791,4276,3981,9534
2,2022,San Diego County,12497,106,755,2664,8972,52736,7556,12215,32965,4769,66,104,815,3784,4029,974,813,2242
3,2022,San Francisco County,5456,56,311,2444,2645,48411,6006,6359,36046,1521,36,44,490,951,2077,601,404,1072
4,2022,San Mateo County,2295,13,230,551,1501,15538,2344,2069,11125,1082,10,59,188,825,1820,266,87,1467
5,2022,Santa Clara County,7427,41,1196,1818,4372,47914,7390,9336,31188,3099,25,232,599,2243,3344,563,677,2104

In [38]:
from sqlalchemy import create_engine

#db connection
engine = create_engine('postgresql://ufnbfacj9c7u80:pa129f8c5adad53ef2c90db10cce0c899f8c7bdad022cca4e85a8729b19aad68d@ceq2kf3e33g245.cluster-czrs8kj4isg7.us-east-1.rds.amazonaws.com:5432/d9f89h4ju1lleh')

#send to postgres
crime_df3.to_sql('crime_by_county_year', con=engine, if_exists='replace', index=False, method='multi')

6